*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container{
    min-height: 100vh;
    background-color:#8BC6EC ;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100% );
    display: flex;
    justify-content: center;
}

.cardl{
    width: 400px;
    height: 600px;
    background-color: rgba(162, 216, 255, 0.906);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
   
}

.cardbox{
    width: 800px;
    min-height:100vh;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: row;
    gap: 5px;
   
}

.textBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 100%;
    text-align: row;
}

.head{
  
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 20px;
    text-align:center;
    top: 10px;
    position:absolute;
} 

.paratext{
  
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 20px;
    text-align:center;
    bottom: 150px;
    position:absolute;
    font-size: 20px;
} 

.button{
 width: 20%;
 background-color: rgb(26, 115, 232);
 color: white; 
 margin: 10px;
 padding: 15px 20px;
 text-transform: uppercase;
 border-radius: 5px;
 align-items:right;
 cursor: pointer;
}
